.main {
  flex :1;
  display: flex;
  overflow: auto;
  position: relative;
}
.top-container {
  height: 100%;
}
html, body {
  height: 100%;
}

header {
  background: url('../imgs/back.jpg');
  background-size: cover;
  height: 100% !important;
}

.input-group-addon, .glyphicon {
  cursor: pointer !important;
}

#search_form {
  color: $black;
  font-weight: bold;
  height: 100%;
  background: transparent;
  border: none;
}
legend {
  color: $black;
  font-weight: bold;
}
.dropdown-toggle {
  font-weight: bold;
}
.restaurant-card {
  border: 1px solid black;
}
.review-panel {
  margin: 20px;
}
#review_form {
  border: 2px solid $black;
}
#clearfilter {
  margin-left: 5px;
}
.results-container {
  background: #F3F3F3;
  background-size: 100% 100%;
  padding-top: 20px;
}
.disableScroll {
  overflow: hidden;
}
.enableScroll {
  overflow: auto;
}
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height:60px;
  width:60px;
  margin:0 auto;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(0,174,239,.15);
  border-right:6px solid rgba(0,174,239,.15);
  border-bottom:6px solid rgba(0,174,239,.15);
  border-top:6px solid rgba(0,174,239,.8);
  border-radius:100%;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
.btn.disabled, .btn[disabled], .btn.disabled:hover, .btn[disabled]:hover {
  background-color: $black;
  color: white;
  font-weight: bold;
}
.btn-offset-bottom {
  margin-bottom: 10px;
}
.skip-link {
  position: absolute;
  top: -400px;
  left: 0;
  background: #b60000;
  color: $white !important;
  font-weight: bold;
  padding: 8px;
  z-index: 100;
}
.skip-link:focus {
  top: 0;
  color: $white !important;
  font-weight: bold;
}
.skip-link-nonab {
  background: #b60000;
  color: $white !important;
  font-weight: bold;
  padding: 8px;
  z-index: 100;
}
.skip-link-nonab:focus {
  color: $white !important;
  font-weight: bold;
}
.contrast-scheme {
  color: $white;
  background: $black;
}
.label-width {
  width: auto !important;
}
.card-link {
  color: #00578c !important;
}
#closeModalButton {
  color: $black !important;
  opacity: 1 !important
}
.panel-footer {
  text-align: center;
  background: white;
}
.btn:focus, a:focus, .skip-link-nonab:focus, button:focus {
  outline: $black solid thick;
}
