<div tabindex="0" aria-label="Reviews Found For The Restaurant" id="yesReviews">
    <a href="#namebox" ng-click="setFocusToReview()" ng-keyup="$event.keyCode == 13 && setFocusToReview()" class="skip-link">Skip to Adding Review</a>
    <div class="modal-header">
        <button aria-label="Close Reviews Dialog Button" id="closeModalButton" type="button" class="close" ng-click="cancel()">&times;</button>
    </div>
    <review-directive id="review-{{$index}}" tabindex="0" ng-if="reviews.length > 0" ng-repeat="review in reviews" review="review"></review-directive>
</div>
<div tabindex="0" id="noReviews" ng-if="reviews.length <= 0">No Reviews Found</div>
<div class="container-fluid">
    <form class="well form-horizontal" action="" onsubmit="return false"  id="review_form">
        <fieldset>
            <legend>Add Your Review</legend>
            <div class="form-group">
                <label class="col-md-4 control-label" for="namebox">Name: *</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <input id="namebox" name="name" autocomplete="name" aria-label="Name" aria-required="true" type="text" class="form-control" ng-model="commentName" required placeholder="Enter Your Name">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="reviewbox">Profile Picture Link</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                        <input id="imageLink" class="form-control" aria-label="Review" ng-model="profilePic" placeholder="Add a Link to Your Picture"> </input>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="reviewbox">Review: *</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-comments" aria-hidden="true"></i></span>
                        <textarea id="reviewbox" rows="8" cols="50" class="form-control" aria-label="Review" aria-required="true" ng-model="comment" placeholder="Add a Review"> </textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" aria-hidden="true"></label>
                <div class="col-md-4">
                    <input type="button" aria-describedby="buttonEnableCondition" value="Submit Review" id="rsubmit" ng-click="gather()" class="form-control btn btn-primary" ng-disabled="!commentName || !comment || commentName == '' || comment == ''">
                    <span id="buttonEnableCondition">Please Fill All Fields With * To Enable Button</span>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ok()">Close</button>
    </div>
</div>