<div class="spinner" ng-if="rstCtrl.fetchingRest"></div>
<header>
    <div class="container-fluid top-container">
        <form class="well form-horizontal" action="" onsubmit="return false" id="search_form">
            <fieldset>
                <legend><h1 class="contrast-scheme" tabindex="0">Search for Restaurants</h1></legend>
                <div class="form-group">
                    <label class="col-md-4 control-label contrast-scheme label-width" for="searchbox">Search:</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <input id="searchbox" name="searchbox" type="search" class="form-control" ng-keyup="$event.keyCode == 13 && rstCtrl.getRestuarants()" ng-model="rstCtrl.searchQuery" required placeholder="Search by Location, Cuisine, Keyword">
                            <span tabindex="0" aria-label="Search Button" class="input-group-addon" ng-keyup="$event.keyCode == 13 && rstCtrl.getRestuarants()" ng-click="rstCtrl.getRestuarants()"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label contrast-scheme label-width" aria-hidden="true" for="filters_menu">Filter By: </label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <select role="listbox" tabindex="-1" class="form-control btn btn-default" id="filters_menu" ng-change="rstCtrl.sortBy(rstCtrl.typeFilter)" ng-model="rstCtrl.typeFilter" ng-disabled="!rstCtrl.restaurants.length">
                                <option aria-posinset="1" aria-setsize="6" value="">None</option>
                                <option aria-posinset="2" aria-setsize="6" value="cuisine">Cuisine</option>
                                <option aria-posinset="3" aria-setsize="6" value="ratingH">Rating-High</option>
                                <option aria-posinset="4" aria-setsize="6" value="rating">Rating-Low</option>
                                <option aria-posinset="5" aria-setsize="6" value="price">Price-Low</option>
                                <option aria-posinset="6" aria-setsize="6" value="priceH">Price-High</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</header>
<main>
    <div class="container-fluid results-container" id="results-container">
        <div class="row" style="text-align: center" tabindex="0" id="yesResults" aria-label="Search Results">
            <div class="form-group">
                <label class="col-md-4 control-label" aria-hidden="true"></label>
                <div class="col-md-4 inputGroupContainer">
                    <input tabindex="0" id="clearfilter" name="clearfilter" type="submit" ng-if="rstCtrl.filterSet" ng-click="rstCtrl.clearFilter()" class="btn btn-danger form-control btn-offset-bottom" value="Clear Filter">
                </div>
            </div>

            <a href="#filters_menu" ng-click="rstCtrl.setFocusToFilterMenu()" ng-keyup="$event.keyCode == 13 && rstCtrl.setFocusToFilterMenu()" ng-if="rstCtrl.restaurants.length > 0" class="skip-link-nonab">Select A Filter</a>
            <result-directive id="result-{{$index}}" tabindex="0" class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-12 col-xs-12" restaurant="restaurant" ng-if="rstCtrl.restaurants.length > 0" ng-repeat="restaurant in rstCtrl.restaurants"></result-directive>
            <div tabindex="0" id="noResults" aria-label="No Results Found" ng-if="rstCtrl.restaurants.length <= 0">No Results Found</div>
        </div>
    </div>
</main>
<footer>

</footer>