<div class="panel panel-primary review-panel">
    <div class="panel-heading">
        <img ng-if="review.user.image_url.startsWith('http') || review.user.image_url.startsWith('https')" src="{{review.user.image_url}}" alt="Profile Picture of {{review.user.name}}" />
        <h1 class="panel-title">{{review.user.name}}</h1>
    </div>
    <div class="panel-body">
        <p>{{review.excerpt}}</p>
        <p>
            <b>(<i>Rating:</i> {{review.rating}})</b></br>
            <i class="fa" ng-class="{'fa-star': rate.i > 0, 'fa-star-o': rate.i == 0 , 'fa-star-half-o': rate.i < 0 }" ng-repeat="rate in ratings" aria-hidden="true"></i>
        </p>
    </div>
    <div class="panel-footer">
        <p>Reviewed {{review.time_created}}</p>
    </div>
</div>